:root {
    --primary-color: #037ccc;
    --secondary-color: #2ecc71;
    --font-family: 'Arial, sans-serif';
}

@mixin tablet() {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin desktop() {
    @media (min-width: 1140px) {
        @content;
    }
}

